/**************************************************
Back Ground Element
****************************************************/
body{
	background:url(../img/background.jpeg) no-repeat fixed;
	background-size:100% 100%;
	color:black;
	text-shadow:1px 1px 20px white;
	font-family:sans-serif;
	margin:0px;
}

/**************************************************
Header Styling
****************************************************/

header{
	position:fixed;
	width:100%;
	/* overflow:hidden; */
	background:#FABDBD;
	top:0px;
	left:0px;
}

header nav{
	position:absolute;
	top:20px;
}

/**************************************************
List Item Fixing
****************************************************/
ul{
	display:block;
	margin:0px;
	padding:0px;
	overflow:hidden;
}
li{
	list-style:none;
	margin:10px;
}


/**************************************************
Navigation List Sublist Styling
****************************************************/
nav ul li{
	float:right;
}

nav li:hover{
	color:black;
}
nav li:hover > .sublist{
	display:block;
	position: absolute;
	/* top:35px; */
	margin: auto;
	margin-top:0px;
	background:#FABDBD;
}


/**************************************************
Image width Fixing
****************************************************/
img{
	width:inherit;
}

/**************************************************
Anchor Tag Styling
****************************************************/
a{
	text-decoration:none;
	color:black;
}

a:hover{
  color:grey;
}

/**************************************************
Page Marining
****************************************************/
.page{
	margin-top:100px;

}

/**************************************************
Sublist design
****************************************************/
.sublist{
	display:none;
	position:absolute;
	top:30px;
	margin:10px;
	padding:0px;
}

.sublist li{
	float:none;
}

/**************************************************
Hero Height Fixing
****************************************************/
.hero img{
	height:300px;
}


/*******************************************************************************
Section Styles 															   
********************************************************************************/


section{
	min-height: 300px;
}

section .subsec{
	height:50%;
	border-left:black 1px solid;
	padding-left:5px;
	margin-bottom: 5px;
}


.threecol img{
	height:200px;
}



/*******************************************************************************
 height inheriting for sub items
********************************************************************************/


.hite{
	height:inherit;
}

/**************************************************
Footer Style
****************************************************/
footer{
background:#B4A4A4;
}
.foot ul{
	float:left;
	padding:10px;
}

.foot li{
	display:inline;

}

.foot p{
	float:right;
	display:inline;
}


/**************************************************
Photosec Style
****************************************************/
.photosec{
	border-top:#ED7373 1px solid;
	border-bottom:#ED7373 1px solid;
	min-height:200px;
}

.hitefix{
	margin:10px;
}

.hitefix img{
	height:300px;
}

.continue{
	text-align:center;
}

form label{
    display:block;
}
form input, form textarea{
	display:block;
	margin:5px;
}

textarea{
	width:200px;
	height:100px;
}